<a href="https://colab.research.google.com/github/michalis0/DataScience_and_MachineLearning/blob/master/Week_2/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Notebooks

## Goals
The goal of this notebook is to briefly introduce you to the main tools we will use in this practical seminar: Python code and markdown Notebooks.  The focus will be on using markdown to create interactive notebooks, which you can share with others.

## Getting started

**Notebooks** represent an interactive environment for writing and executing code, while at the same time also documenting the code with rich text. Here we review some elementary ways of creating your notebooks.

We will be using **Google Colab**, which is a free notebook environment, that does not require any installations and uses Google servers to execute the code. You can simply run it in your browser, after you create a free Google account (if not yet done).

To open a new notebook in Google Colab click [here](https://colab.research.google.com/) and then click on the "New Notebook" at the bottom right.

You can open this notebook in Colab by clicking on the Open in Colab badge on top of the file.

A notebook consists of two kinds of cells:
* cellls that contain executable **code** and
* cells that contain **markdown (text)**.

Here we'll provide a more detailed introduction to the text cells, while the following seminars we'll focus more on the code cells.

Markdown syntax is very similar to HTML, but it is more simplified. Here are some additional introductory ressources:
- Try markdown on your own in [Google Colab](https://colab.research.google.com/notebooks/markdown_guide.ipynb)
- You can also find a more detailed and [lengthy introduction](https://about.gitlab.com/handbook/product/technical-writing/markdown-guide/).

### Switching between Code and Text/Markdown

- If you want to include markdown in a code cell, you can convert it to a text cell by pressing `control M M` (that is hold down the `control` key and press two times the letter `M`).
- You can convert a text cell into a code cell using the shortcut `control M Y`.

<div class="alert alert-block alert-info">


<h2>Shortcuts</h2>

It's good to learn the following shortcuts:


- Execute a cell: shift-enter on Mac (ctrl-enter for Windows)
- Saving the notebook: command s on a Mac, (ctrl-s for Windows)
- Change Cell types: ctrl M Y (code), ctrl M M (markdown)

<h2>Saving & downloading your notebook</h2>

You can save your notebook in your Google Drive using the Colab Menu > File > Save a copy in Drive (Google Drive), or directly in GitHub.

You can also download the notebook using File>Download>  .ipynb (notebook format).

</div>

# Basic operations with Pandas

<img width="200" src='https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg'>

##Data cleaning
### How Does Data Get Dirty?
- Missing data.
- Inconsistent data.
- Duplicate data.

This is just to name a few things that can go wrong. There is an endless list of ways that data can end up very messy.
Sometimes there are insufficient validation checks when the data is entered in the first place.
If you have form fields with users entering data in any format they want with no guidelines or form validation checks in place to enforce conforming to a certain format, then users will input however they see fit.

There could be an input field for the state (U.S.) and you have some data that is the two-character abbreviation, NY and then others have New York, then there are potential misspellings and typos, etc.

Data can also become corrupted during transmission or in storage.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("https://raw.githubusercontent.com/michalis0/DataScience_and_MachineLearning/master/Week_2/user_records_lab.csv")

###Shape of the data

Let's first check how many rows and columns (features) are in this dataset

In [ ]:
df.shape


### Check out the first few rows
You can look at the first few rows by calling `head()` on the dataframe.

In [ ]:
df.head(3)

### List the column/feature names

In [ ]:
df.columns

### Duplicates
You can check if there are duplicates in the dataset.

In [ ]:
df.duplicated()

This shows which are the duplicated rows if any. None are duplicated here.

In [ ]:
df.loc[df.duplicated()=='True', :]

You can check if the same value appears in a single column more than once in the dataset. Are there multiple users with the same birthday?

In [ ]:
df.birthday.duplicated()

You can also filter the table so that only entries with given characteristics are maintained, for example users from Switzerland (CH)

In [ ]:
df[df['country']=='CH'].head()

You can also get the list of people who have their birthday the same day as another person in the dataset

In [ ]:
df[df.birthday.duplicated()].head()

You can also show all users who have their birthday on the same day by checking who has their birthday on one of the duplicated dates.

In [ ]:
duplicate_dates = df[df.birthday.duplicated()]['birthday'].to_list()

df[df['birthday'].isin(duplicate_dates)].sort_values('birthday').head()

### Missing/Null values
You can call `isnull()` and `sum()` to get a count of how many null values are there in each column.

In [ ]:
df.isnull().sum()

### Data Types of the Features
It is important that the data values in each column have the correct data type. For example, you can expect a column containing numbers to be in numeric format, but sometimes you will find string values in it. In such a case, when you do numeric calculations on that column you might get unexpected results.

The property `dtypes` will show you the data types for each column in the dataframe.

In [ ]:
df.dtypes

You can notice that the column `issue_date` is in integer format (`int64`), whereas it should be in datetime format. In Pandas you can convert a column to datetime format using `to_datetime` method.

In [ ]:
df['birthday'].head()

In [ ]:
# if you do not provide the format, the function may infer the wrong format
pd.to_datetime(df['birthday']).head()

In [ ]:
df['birthday'] = pd.to_datetime(df['birthday'], format="%d-%m-%Y")
df['birthday'].head()

### Dropping the columns you are not interested in
Let's say we are only interested in users last names, their first name and their origin. So we are going to drop the rest of the columns.

Note that many operations in Pandas can be done on a copy of the data or in-place (affecting the original data frame). You can use the parameter `inplace=True`.

> Also note that in Pandas, axis 0 represents the rows while axis 1 represents the columns.

In [ ]:
df.dropna().head()

In [ ]:
columns_to_delete = ['UserID', 'birthday']
df.drop(columns_to_delete, inplace=True, axis=1)
df.head()

You can also select the columns to keep instead of selecting the columns to delete

In [ ]:
columns_to_keep = ['first_name', 'last_name', 'country']
df = df[columns_to_keep]
df.head()

With the help of the value_counts() function you can see how many people in the dataset are from each country.
You can also use it to find how many maried people we have per country.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/michalis0/DataScience_and_MachineLearning/master/Week_2/user_records_lab.csv")
df["country"].value_counts().sort_values(ascending = False).head()

In [ ]:
df[df['marital_status'] == 1]['country'].value_counts().head()

You can also use the group by method to aggregate data depending on one category.

We can use it to find the the average number of kids per country

In [ ]:
df= df[['country', 'number_of_kids']]
df = df.dropna()

df = df.groupby('country').mean().sort_values('number_of_kids', ascending=False)
df.head()

##Your turn !

Now a small exercice so that you can practice what we have learned so far.
Based on this [new dataset](https://raw.githubusercontent.com/michalis0/DataScience_and_MachineLearning/master/Week_2/movie_data.csv), answer these questions:


*   What is the shape of the dataset?
*   What are the names of the columns ?
*   Are there any duplicates ? If yes, which ones ?
*   Are there any missing values ? If yes, which ones ?
*   How many movies have a rating of 5 ? Create a list with the name of the movies

#Operations with multiple datasets using pandas

Sometimes data sets may come from different sources. In those cases you may need to merge datasets together.

Let's assume two datasets, user data and flight records.

The two data sets can be linked through the "user_id" column.

In [ ]:
#check the dataset with user data
user_data = pd.read_csv("https://raw.githubusercontent.com/michalis0/DataScience_and_MachineLearning/master/Week_2/user_records_lab.csv")

user_data = user_data[['UserID', 'first_name', 'last_name']]
user_data.head(2)

In [ ]:
#check the dataset with the flight records
flight_records = pd.read_csv("https://raw.githubusercontent.com/michalis0/DataScience_and_MachineLearning/master/Week_2/flight_records_lab.csv")
flight_records.head(2)

[Merging](https://pandas.pydata.org/docs/user_guide/merging.html) the two datasets:

In [ ]:
combined_dataset = pd.merge(flight_records, user_data, left_on="userID", right_on='UserID', how="left", sort=False)
combined_dataset = combined_dataset.sort_values('date')

combined_dataset.head(2)

Now we can find who traveled on a given date, for example on the 1st of december 2022

In [ ]:
combined_dataset[combined_dataset['date']=='01-12-2022']

We can also find the travels of all people who's first name is "Nicolas"

In [ ]:
combined_dataset[combined_dataset['first_name']=='Nicolas'].head(3)

## Your turn !

With the [netflix dataset](https://raw.githubusercontent.com/michalis0/DataScience_and_MachineLearning/master/Week_2/netflix_data.csv), merge the two dataset on the movie's title and give the movie that has the best Netflic Score and a IMDB score over 4.5.

#[Data visualisation ](https://pandas.pydata.org/docs/user_guide/visualization.html)

Data can be hard to comprehend on it's own,
Sometimes visualization tools can be helpfull to get a better sense of it.

Let's first make a pie chart to visualise the sum of the children born in the top 5 most fertile countries

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/michalis0/DataScience_and_MachineLearning/master/Week_2/user_records_lab.csv")
df= df[['country', 'number_of_kids']]
df = df.dropna()
df = df.groupby('country').sum().sort_values('number_of_kids', ascending=False)
df = df[0:6]
series = pd.Series(df['number_of_kids'].to_list(), index=df.index.to_list())


series.plot.pie(autopct="%.2f",figsize=(6, 6));

##Boxplots are also usefull to compare data

For the following exercise we will compare mobile data consumption per country

Lets first combined the phone logs dataset with the antenna info dataset in order to link each antena to a country

In [ ]:
phone_logs = pd.read_csv("https://raw.githubusercontent.com/michalis0/DataScience_and_MachineLearning/master/Week_2/all_phone_logs_lab.csv")
phone_logs.head()

In [ ]:
antenna_info = pd.read_csv("https://raw.githubusercontent.com/michalis0/DataScience_and_MachineLearning/master/Week_2/antena_info_lab.csv")
antenna_info.head()

In [ ]:
combined_dataset = pd.merge(phone_logs, antenna_info, left_on="antena_id", right_on='antena_id', how="left", sort=False)
combined_dataset = combined_dataset.sort_values('country')

combined_dataset.head(2)

In [ ]:
consumption_per_country = combined_dataset[['dandwith_used', 'country']]
consumption_per_country = consumption_per_country.groupby('country').sum()
consumption_per_country.head(5)

In [ ]:
consumption_per_country.plot.box()

Let's now find the consumption per country per year, and then display it in boxplots

In [ ]:
combined_dataset['date_and_time'] = pd.to_datetime(combined_dataset['date_and_time']).to_list()
combined_dataset['year'] = list(map(lambda x: x.year,combined_dataset['date_and_time'].to_list()))


consumption_per_country_per_year = combined_dataset[['dandwith_used', 'country', 'year']]
consumption_per_country_per_year = consumption_per_country_per_year.groupby(['country', 'year']).sum()
consumption_per_country_per_year.boxplot(by = 'year')